annotated-types
blinker
cachetools
certifi
charset-normalizer
click
Flask
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
requests
rsa
tqdm
typing_extensions
uritemplate
urllib3
Werkzeug
